body {
  padding-top: 40px;
  padding-bottom: 40px;
  
  font-family: 'Lato', arial, sans-serif;
  color: #434343;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100%;
}

.form-signin {
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.8);
  border-top:#007bff 10px solid;
  border-bottom: 1px solid #2693FF;
}
.form-signin .form-signin-heading{
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}